<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderman.infosys.auth.dao.mapper.RoleGroupMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderman.infosys.auth.dao.dataobject.RoleGroupDO">
        <result column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="group_code" property="groupCode" />
        <result column="role_code_list" property="roleCodeList" />
        <result column="date_create" property="dateCreate" />
        <result column="date_update" property="dateUpdate" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!--查询总数-->
    <resultMap type="java.lang.Integer" id="count">
        <result column="total"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,group_name,group_code,role_code_list,date_create,date_update,update_user_id,create_user_id
    </sql>

    <insert id="insert" parameterType="com.coderman.infosys.auth.dao.dataobject.RoleGroupDO">
        insert into role_group(
        group_name,group_code,role_code_list,date_create,date_update,update_user_id,create_user_id
        )
        values(
        #{group_name},#{group_code},#{role_code_list},#{date_create},#{date_update},#{update_user_id},#{create_user_id}
        )
    </insert>

    <update id="update" parameterType="com.coderman.infosys.auth.dao.dataobject.RoleGroupDO">
        update role_group
        set
        group_name=#{group_name},group_code=#{group_code},role_code_list=#{role_code_list},date_create=#{date_create},date_update=#{date_update},update_user_id=#{update_user_id},create_user_id=#{create_user_id}
        where  id = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from role_group
    </select>

    <select id="getById" parameterType="com.coderman.infosys.auth.dao.dataobject.RoleGroupDO"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from role_group  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from role_group where id = #{id}
    </delete>

    <select id="getPageList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from role_group
    </select>

    <select id="getCount" resultMap="count">
        select count(1)  from role_group
    </select>


</mapper>
