<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.schoolmanager.common.mapper.StudentMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.schoolmanager.common.dataobject.StudentDO">
        <result column="id" property="id" />
        <result column="student_name" property="studentName" />
        <result column="student_code" property="studentCode" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="class_id" property="classId" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,student_name,student_code,sex,age,class_id
    </sql>

    <insert id="insert" parameterType="com.lightsnail.schoolmanager.common.dataobject.StudentDO">
        insert into student(
        student_name,student_code,sex,age,class_id
        )
        values(
        #{student_name},#{student_code},#{sex},#{age},#{class_id}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.schoolmanager.common.dataobject.StudentDO">
        update student
        set
        student_name=#{student_name},student_code=#{student_code},sex=#{sex},age=#{age},class_id=#{class_id}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.schoolmanager.common.dataobject.StudentDO">
        select <include refid="Base_Column_List" />  from student
    </select>

    <select id="getById" parameterType="com.lightsnail.schoolmanager.common.dataobject.StudentDO"
            resultType="com.lightsnail.schoolmanager.common.dataobject.StudentDO">
        select <include refid="Base_Column_List" /> from student  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from student where id = #{id}
    </delete>

</mapper>
