<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderman.infosys.auth.dao.mapper.SystemAuthorityMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderman.infosys.auth.dao.dataobject.SystemAuthorityDO">
        <result column="id" property="id" />
        <result column="auth_code" property="authCode" />
        <result column="system_code" property="systemCode" />
        <result column="module_code" property="moduleCode" />
        <result column="menu_code" property="menuCode" />
        <result column="date_create" property="dateCreate" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!--查询总数-->
    <resultMap type="java.lang.Integer" id="count">
        <result column="total"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,auth_code,system_code,module_code,menu_code,date_create,create_user_id
    </sql>

    <insert id="insert" parameterType="com.coderman.infosys.auth.dao.dataobject.SystemAuthorityDO">
        insert into system_authority(
        auth_code,system_code,module_code,menu_code,date_create,create_user_id
        )
        values(
        #{auth_code},#{system_code},#{module_code},#{menu_code},#{date_create},#{create_user_id}
        )
    </insert>

    <update id="update" parameterType="com.coderman.infosys.auth.dao.dataobject.SystemAuthorityDO">
        update system_authority
        set
        auth_code=#{auth_code},system_code=#{system_code},module_code=#{module_code},menu_code=#{menu_code},date_create=#{date_create},create_user_id=#{create_user_id}
        where  id = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from system_authority
    </select>

    <select id="getById" parameterType="com.coderman.infosys.auth.dao.dataobject.SystemAuthorityDO"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from system_authority  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from system_authority where id = #{id}
    </delete>

    <select id="getPageList" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from system_authority
    </select>

    <select id="getCount" resultMap="count">
        select count(1)  from system_authority
    </select>


</mapper>
