<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderman.infosys.auth.dao.mapper.ClassTeacherMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        <result column="id" property="id" />
        <result column="class_id" property="classId" />
        <result column="teacher_id" property="teacherId" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,class_id,teacher_id
    </sql>

    <insert id="insert" parameterType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        insert into class_teacher(
        class_id,teacher_id
        )
        values(
        #{class_id},#{teacher_id}
        )
    </insert>

    <update id="update" parameterType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        update class_teacher
        set
        class_id=#{class_id},teacher_id=#{teacher_id}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        select <include refid="Base_Column_List" />  from class_teacher
    </select>

    <select id="getById" parameterType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO"
            resultType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        select <include refid="Base_Column_List" /> from class_teacher  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from class_teacher where id = #{id}
    </delete>

    <select id="getPageList" resultType="com.coderman.infosys.auth.dao.dataobject.ClassTeacherDO">
        select <include refid="Base_Column_List" />  from class_teacher
    </select>

</mapper>
