<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.LandlordContractTemplateMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity">
        <result column="id" property="id" />
        <result column="landlord_account_id" property="landlordAccountId" />
        <result column="contract_template_id" property="contractTemplateId" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,landlord_account_id,contract_template_id,create_time
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity">
        insert into landlord_contract_template(
        landlord_account_contract_template_create_time
        )
        values(
        #{landlord_account_id},#{contract_template_id},#{create_time}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity">
        update landlord_contract_template
        set
        landlord_account_id=#{landlord_account_id},contract_template_id=#{contract_template_id},create_time=#{create_time}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity">
        select <include refid="Base_Column_List" />  from landlord_contract_template
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.LandlordContractTemplateEntity">
        select <include refid="Base_Column_List" /> from landlord_contract_template  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from landlord_contract_template where id = #{id}
    </delete>

</mapper>
