<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.LandlordRoomRentRecordMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity">
        <result column="id" property="id" />
        <result column="landlord_account_id" property="landlordAccountId" />
        <result column="room_source_id" property="roomSourceId" />
        <result column="agent_account_id" property="agentAccountId" />
        <result column="room_source_index" property="roomSourceIndex" />
        <result column="user_id" property="userId" />
        <result column="contract_id" property="contractId" />
        <result column="rent_start_time" property="rentStartTime" />
        <result column="rent_end_time" property="rentEndTime" />
        <result column="real_end_time" property="realEndTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,landlord_account_id,room_source_id,agent_account_id,room_source_index,user_id,contract_id,rent_start_time,rent_end_time,real_end_time,create_time,update_time
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity">
        insert into landlord_room_rent_record(
        landlord_account_room_source_agent_account_room_source_index,user_contract_rent_start_time,rent_end_time,real_end_time,create_time,update_time
        )
        values(
        #{landlord_account_id},#{room_source_id},#{agent_account_id},#{room_source_index},#{user_id},#{contract_id},#{rent_start_time},#{rent_end_time},#{real_end_time},#{create_time},#{update_time}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity">
        update landlord_room_rent_record
        set
        landlord_account_id=#{landlord_account_id},room_source_id=#{room_source_id},agent_account_id=#{agent_account_id},room_source_index=#{room_source_index},user_id=#{user_id},contract_id=#{contract_id},rent_start_time=#{rent_start_time},rent_end_time=#{rent_end_time},real_end_time=#{real_end_time},create_time=#{create_time},update_time=#{update_time}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity">
        select <include refid="Base_Column_List" />  from landlord_room_rent_record
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.LandlordRoomRentRecordEntity">
        select <include refid="Base_Column_List" /> from landlord_room_rent_record  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from landlord_room_rent_record where id = #{id}
    </delete>

</mapper>
