<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.RoomAgentMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity">
        <result column="id" property="id" />
        <result column="chinese_name" property="chineseName" />
        <result column="card_number" property="cardNumber" />
        <result column="card_number_urls" property="cardNumberUrls" />
        <result column="handphone" property="handphone" />
        <result column="area_codes" property="areaCodes" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,chinese_name,card_number,card_number_urls,handphone,area_codes
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity">
        insert into room_agent(
        chinese_name,card_number,card_number_urls,handphone,area_codes
        )
        values(
        #{chinese_name},#{card_number},#{card_number_urls},#{handphone},#{area_codes}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity">
        update room_agent
        set
        chinese_name=#{chinese_name},card_number=#{card_number},card_number_urls=#{card_number_urls},handphone=#{handphone},area_codes=#{area_codes}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity">
        select <include refid="Base_Column_List" />  from room_agent
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.RoomAgentEntity">
        select <include refid="Base_Column_List" /> from room_agent  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from room_agent where id = #{id}
    </delete>

</mapper>
