<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.RoomPublishMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity">
        <result column="id" property="id" />
        <result column="publisher_account_id" property="publisherAccountId" />
        <result column="room_source_id" property="roomSourceId" />
        <result column="publish_source_id" property="publishSourceId" />
        <result column="create_time" property="createTime" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,publisher_account_id,room_source_id,publish_source_id,create_time
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity">
        insert into room_publish(
        publisher_account_room_source_publish_source_create_time
        )
        values(
        #{publisher_account_id},#{room_source_id},#{publish_source_id},#{create_time}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity">
        update room_publish
        set
        publisher_account_id=#{publisher_account_id},room_source_id=#{room_source_id},publish_source_id=#{publish_source_id},create_time=#{create_time}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity">
        select <include refid="Base_Column_List" />  from room_publish
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.RoomPublishEntity">
        select <include refid="Base_Column_List" /> from room_publish  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from room_publish where id = #{id}
    </delete>

</mapper>
