<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coderman.infosys.auth.infrast.dao.mapper.AdminAuthorityMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.coderman.infosys.auth.infrast.dao.dataobject.AdminAuthorityDO">
        <result column="id" property="id" />
        <result column="auth_code" property="authCode" />
        <result column="department_id" property="departmentId" />
        <result column="city_id" property="cityId" />
        <result column="date_create" property="dateCreate" />
        <result column="date_update" property="dateUpdate" />
        <result column="update_user_id" property="updateUserId" />
        <result column="create_user_id" property="createUserId" />
    </resultMap>

    <!--查询总数-->
    <resultMap type="java.lang.Integer" id="count">
        <result column="total"/>
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,auth_code,department_id,city_id,date_create,date_update,update_user_id,create_user_id
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.coderman.infosys.auth.infrast.dao.dataobject.AdminAuthorityDO" useGeneratedKeys="true">
        insert into admin_authority(
        auth_code,department_id,city_id,date_create,date_update,update_user_id,create_user_id
        )
        values(
        #{auth_code},#{department_id},#{city_id},#{date_create},#{date_update},#{update_user_id},#{create_user_id}
        )
    </insert>

    <update id="update" parameterType="com.coderman.infosys.auth.infrast.dao.dataobject.AdminAuthorityDO">
        update admin_authority
        set
        auth_code=#{auth_code},department_id=#{department_id},city_id=#{city_id},date_create=#{date_create},date_update=#{date_update},update_user_id=#{update_user_id},create_user_id=#{create_user_id}
        where  id = #{id}
    </update>

    <select id="getAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />  from admin_authority
    </select>

    <select id="getById" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from admin_authority  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from admin_authority where id = #{id}
    </delete>



</mapper>
