<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.RealRoomSourceMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity">
        <result column="id" property="id" />
        <result column="landlord_account_id" property="landlordAccountId" />
        <result column="landlord_room_source_id" property="landlordRoomSourceId" />
        <result column="room_status" property="roomStatus" />
        <result column="rent_start_time" property="rentStartTime" />
        <result column="rent_end_time" property="rentEndTime" />
        <result column="room_form_type" property="roomFormType" />
        <result column="room_index" property="roomIndex" />
        <result column="room_desc" property="roomDesc" />
        <result column="room_price" property="roomPrice" />
        <result column="room_rent_form" property="roomRentForm" />
        <result column="room_pay_form" property="roomPayForm" />
        <result column="service_price" property="servicePrice" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,landlord_account_id,landlord_room_source_id,room_status,rent_start_time,rent_end_time,room_form_type,room_index,room_desc,room_price,room_rent_form,room_pay_form,service_price
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity">
        insert into real_room_source(
        landlord_account_landlord_room_source_room_status,rent_start_time,rent_end_time,room_form_type,room_index,room_desc,room_price,room_rent_form,room_pay_form,service_price
        )
        values(
        #{landlord_account_id},#{landlord_room_source_id},#{room_status},#{rent_start_time},#{rent_end_time},#{room_form_type},#{room_index},#{room_desc},#{room_price},#{room_rent_form},#{room_pay_form},#{service_price}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity">
        update real_room_source
        set
        landlord_account_id=#{landlord_account_id},landlord_room_source_id=#{landlord_room_source_id},room_status=#{room_status},rent_start_time=#{rent_start_time},rent_end_time=#{rent_end_time},room_form_type=#{room_form_type},room_index=#{room_index},room_desc=#{room_desc},room_price=#{room_price},room_rent_form=#{room_rent_form},room_pay_form=#{room_pay_form},service_price=#{service_price}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity">
        select <include refid="Base_Column_List" />  from real_room_source
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.RealRoomSourceEntity">
        select <include refid="Base_Column_List" /> from real_room_source  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from real_room_source where id = #{id}
    </delete>

</mapper>
