<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lightsnail.app.user.crm.core.mapper.RoomSubscribeMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity">
        <result column="id" property="id" />
        <result column="agent_account_id" property="agentAccountId" />
        <result column="room_agent_type" property="roomAgentType" />
        <result column="user_id" property="userId" />
        <result column="area_code" property="areaCode" />
        <result column="floor_address" property="floorAddress" />
        <result column="mind_hourse_before" property="mindHourseBefore" />
        <result column="handphone" property="handphone" />
        <result column="is_mind" property="isMind" />
        <result column="subscribe_time" property="subscribeTime" />
        <result column="subscribe_result" property="subscribeResult" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,agent_account_id,room_agent_type,user_id,area_code,floor_address,mind_hourse_before,handphone,is_mind,subscribe_time,subscribe_result
    </sql>

    <insert id="insert" parameterType="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity">
        insert into room_subscribe(
        agent_account_room_agent_type,user_area_code,floor_address,mind_hourse_before,handphone,is_mind,subscribe_time,subscribe_result
        )
        values(
        #{agent_account_id},#{room_agent_type},#{user_id},#{area_code},#{floor_address},#{mind_hourse_before},#{handphone},#{is_mind},#{subscribe_time},#{subscribe_result}
        )
    </insert>

    <update id="update" parameterType="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity">
        update room_subscribe
        set
        agent_account_id=#{agent_account_id},room_agent_type=#{room_agent_type},user_id=#{user_id},area_code=#{area_code},floor_address=#{floor_address},mind_hourse_before=#{mind_hourse_before},handphone=#{handphone},is_mind=#{is_mind},subscribe_time=#{subscribe_time},subscribe_result=#{subscribe_result}
        where  id = #{id}
    </update>

    <select id="getAll" resultType="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity">
        select <include refid="Base_Column_List" />  from room_subscribe
    </select>

    <select id="getById" parameterType="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity"
            resultType="com.lightsnail.app.user.crm.core.entity.RoomSubscribeEntity">
        select <include refid="Base_Column_List" /> from room_subscribe  where id = #{id}
    </select>

    <delete id="deleteById" >
        delete from room_subscribe where id = #{id}
    </delete>

</mapper>
